
.item {
    display: flex;
    align-items: center;
    border-radius: 0;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    .button {
        width: 100%;
        height: 100%;
    }
    div {
        display: inline-block;
    }

    .icon {
        margin-right: 5px;
    }

    .actions {
        float: right;
    }

    .fa {
        font-size: 22px;
    }

}
