.btn-outline-secondary:hover {
    background-color: #FAA875;
    border-color: #FAA875;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active{
    background-color: #FA6305;
    border-color: #FA6305;
}
.item {
    display: flex;
    align-items: center;
    border-radius: 0;
    position: relative;
    width: 90%;
    line-height: 1;
    float: right;
    text-align: left;
    margin-bottom: 5px;
    .button {
        width: 100%;
        height: 100%;
    }
    div {
        display: inline-block;
    }

    .icon {
        margin-right: 5px;
    }

    .actions {
        float: right;
    }

    .fa {
        font-size: 18px;
    }

}
