.header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    .action {
        margin-left: auto;
    }
    .title {
        font-weight: 800;
    }
}

.no-csars {
    width: 100%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    //align-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    .name {
        width: 100%;
        flex-shrink: 20;
        position: relative;
        .fa {
            position: absolute;
            top: 3px;
            right: 5px;
            font-size: 30px;
        }
    }
    .fa {
        margin-right: 2px;
    }
    button {
        margin: 2px;
    }
}
