.log {
    font-family: monospace;
    overflow-y: hidden;
}
.select-log-level {
    font-size: 1.5em;
    position: absolute;
    right: 40px;
    margin-top: 5px;
    z-index: 100;
}

.first {
    width: 200px;
}

.level {
    padding-left: 0.7rem;
    width:80px;
}
.message {
    word-break: break-all;
}

table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    width: auto;
    padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.75rem;
}

.log-entry:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

