# will call super.equals()/super.hash() in the constructed equals()/hash() implementation
lombok.equalsAndHashCode.callSuper = call

# disable certain lombok features.
# if feature used in code, then throws error
lombok.var.flagUsage = error
lombok.wither.flagUsage = error
lombok.delegate.flagUsage = error
