@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

nav {
    margin-bottom: 10px;
}
.bg-dark {
    background-color: #FEA94E !important;
}
.left-border {
    border-left: 1px solid $secondary;
}
.wrapper {
    min-height: 100%;
}
@media screen and (min-width: 1920px) {
    .wrapper {
        width: 1920px;
        margin: 0 auto;
        border-style: solid;
        border-color: lightgray;
        border-width: 0px 1px;
        -webkit-box-shadow: 0px 1px 30px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 30px -12px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 30px -12px rgba(0,0,0,0.75);
    }
}
