<div class="wrapper">
    <app-message></app-message>
    <nav class="navbar navbar-dark bg-secondary">
        <a class="navbar-brand" href="#">TOSCAna</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div [ngClass]="{'col-md-12 col-lg-3': listNotEmpty, 'col':!listNotEmpty}">
                <app-main-view [csars]="csars" class="center"></app-main-view>
            </div>
            <div [ngClass]="{'col-lg-9': listNotEmpty, 'left-border':listNotEmpty}">
                <router-outlet class="router"></router-outlet>
            </div>
        </div>
    </div>
</div>
